body {
    background-color: #fdfdfd;
    font-family: "Kameron", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.midle_text {
    font-weight: 300;
    font-size: 14px;
}

.container{
    position: relative;
}

.header_inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.sns {
    position: absolute;
    text-align: right;
    width: 99%;
}

.sns_icon {
    margin: 30px 20px 0 0;
}

.header_img {
    position: absolute;
    width: 45%;
    top: 48%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}


.side {
    display: none;
    position: fixed;
    top: 65%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
  
.side .tween-animate-title {
    color: black;
    text-decoration: none !important;
    margin: 0 40px;
    vertical-align: middle;
}
  
.side.left {
    left: 50px;
}
  
.left .side_inner{
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
  
.side.right {
    right: 50px;
}
  
.right .side_inner{
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
  
.icon {
    position: relative;
}
  
.icon::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    width: 1em;
    height: 1em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon.twitter::before {
    background-image: url(img/twitter.svg);
}
  
.icon.fb::before {
    background-image: url(img/instagram.svg);
}

.animate-title {
    opacity: 0;
  }
  
  .animate-title.inview {
    opacity: 1;
  }
  
  .animate-title.inview .char {
    display: inline-block;
    -webkit-animation-name: kf-animate-chars;
            animation-name: kf-animate-chars;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
            animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    margin-left: -0.1em;
  }
  
  .animate-title.inview .char:nth-child(1) {
    -webkit-animation-delay: 0.04s;
            animation-delay: 0.04s;
  }
  
  .animate-title.inview .char:nth-child(2) {
    -webkit-animation-delay: 0.08s;
            animation-delay: 0.08s;
  }
  
  .animate-title.inview .char:nth-child(3) {
    -webkit-animation-delay: 0.12s;
            animation-delay: 0.12s;
  }
  
  .animate-title.inview .char:nth-child(4) {
    -webkit-animation-delay: 0.16s;
            animation-delay: 0.16s;
  }
  
  .animate-title.inview .char:nth-child(5) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  .animate-title.inview .char:nth-child(6) {
    -webkit-animation-delay: 0.24s;
            animation-delay: 0.24s;
  }
  
  .animate-title.inview .char:nth-child(7) {
    -webkit-animation-delay: 0.28s;
            animation-delay: 0.28s;
  }
  
  .animate-title.inview .char:nth-child(8) {
    -webkit-animation-delay: 0.32s;
            animation-delay: 0.32s;
  }
  
  .animate-title.inview .char:nth-child(9) {
    -webkit-animation-delay: 0.36s;
            animation-delay: 0.36s;
  }

  .animate-title.inview .char:nth-child(10) {
    -webkit-animation-delay: 0.40s;
            animation-delay: 0.40s;
  }

  .animate-title.inview .char:nth-child(11) {
    -webkit-animation-delay: 0.44s;
            animation-delay: 0.44s;
  }

  .animate-title.inview .char:nth-child(12) {
    -webkit-animation-delay: 0.48s;
            animation-delay: 0.48s;
  }
  
  @-webkit-keyframes kf-animate-chars {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes kf-animate-chars {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  




.about_title{
    width: 15%;
}

.about_text {
    width: 35%;
}
.products_title{
    width: 20%;
}

.product_img img {
    width:100%;
}

.product_img {
    width: 100%;
}

.product_text{
    width: 100%;
    vertical-align: middle;
}

.inner{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.fooder_inner {
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 12px;
}


@media (min-width: 600px) {
    /******************************************************************
  
  Stylesheet: 600px以上のタブレットやモニタで適用
  
  ******************************************************************/

.side {
    display: block;
}

.product_img img {
    width:100%;
}

.product_img {
    width: 53%;
}

.product_text{
    width: 47%;
}

.product {
    display: flex;
    margin: 0 auto;
    padding-top: 80px;
}

.second_product {
    flex-direction: row-reverse;
}

.product_img,.product_text {
    display: inline-block;
}

}